/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import "reset";

/* 1. Main Layout ================================= */

* {
  box-sizing: border-box;
}

body {
  background: #fff;
}

/* 2. Content ================================= */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .text-inputs {
    display: flex;
    width: 50%;
  }

  .pricing {
    display: flex;
    align-items: center;
    width: 50%;
    padding-top: 1%;
    h2 {
      padding-right: 1%;
    }

    .price {
      display: flex;
      align-items: center;

      width: 15%;

      input {
        margin: 0;
        width: 25%;
      }
    }
  }
  .open {
    width: 50.3%;
    display: flex;
    align-items: center;
    padding-top: 1%;
  }
  button {
    background-color: #c41200;
    color: white;
    border-radius: 53px;

    border-color: #c41200;
    width: 15%;
    font-size: 1.4rem;
  }
}

ul {
  @include flex-center;
  flex-direction: column;
  li {
    display: flex;
    flex-direction: column;
    width: 75%;
    padding: 10px;
    border: solid 1px black;
    @include bp-med {
      flex-direction: row;
    }
    .review-container {
      display: flex;
      width: 100%;
      .info-container {
        display: flex;
        flex-direction: column;
        width: 80%;
        @include bp-med {
          width: 70%;
        }
        .heading-container {
          display: flex;
          flex-direction: column-reverse;

          a {
            text-decoration: none;
            color: black;
            padding-bottom: 2.5%;
            h2 {
              font-size: 2rem;
            }
          }
          .stats-container {
            padding-bottom: 2.5%;

            span {
              padding-right: 3%;
              font-size: 1.5rem;
            }
          }
        }
        .cat-container {
          padding-bottom: 2.5%;
        }
      }
      span {
        padding-bottom: 2.5%;
      }
      img {
        object-fit: cover;
        min-width: 250px;
        min-height: 250px;
        max-width: 250px;
        max-height: 250px;
        border: solid 1px black;

        background-color: #eee;
        @include bp-med {
          margin-left: 20px;
          min-width: 250px;
        }
      }
    }
  }
}
